@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 :root {
 --background:00%100%;
 --foreground:222.284%4.9%;

 --card:00%100%;
 --card-foreground:222.284%4.9%;

 --popover:00%100%;
 --popover-foreground:222.284%4.9%;

 --primary:221.283.2%53.3%;
 --primary-foreground:21040%98%;

 --secondary:21040%96.1%;
 --secondary-foreground:222.247.4%11.2%;

 --muted:21040%96.1%;
 --muted-foreground:215.416.3%46.9%;

 --accent:21040%96.1%;
 --accent-foreground:222.247.4%11.2%;

 --destructive:084.2%60.2%;
 --destructive-foreground:21040%98%;

 --border:214.331.8%91.4%;
 --input:214.331.8%91.4%;
 --ring:221.283.2%53.3%;

 --radius:0.5rem;
 }

 .dark {
 --background:222.284%4.9%;
 --foreground:21040%98%;

 --card:222.284%4.9%;
 --card-foreground:21040%98%;

 --popover:222.284%4.9%;
 --popover-foreground:21040%98%;

 --primary:217.291.2%59.8%;
 --primary-foreground:222.247.4%11.2%;

 --secondary:217.232.6%17.5%;
 --secondary-foreground:21040%98%;

 --muted:217.232.6%17.5%;
 --muted-foreground:21520.2%65.1%;

 --accent:217.232.6%17.5%;
 --accent-foreground:21040%98%;

 --destructive:062.8%30.6%;
 --destructive-foreground:21040%98%;

 --border:217.232.6%17.5%;
 --input:217.232.6%17.5%;
 --ring:224.376.3%48%;
 }
}

@layer base {
 * {
 @apply border-gray-200 dark:border-gray-700;
 }
 body {
 @apply bg-background text-foreground;
 font-feature-settings: "rlig"1, "calt"1;
 }
}
